*{margin:0px;
padding:0px;
	
}
body {
	background:#2D2D3B;
	font-family:sans-serif;
}
.header{
	
	font-weight:bold;
	display:flex;
	align-items:center;
	padding:15px 10px;
	
}

.header .logo{
	flex: 1;
	color:white;
	display:flex;
	justify-content:center;
}
.header .menu{
	flex: 2;
}
.header .menu ul li{
	
list-style:none;
display:inline;
margin:0 20px;
color:white;
padding:5px 10px;
}
.header .login{
	flex: 1;
	display:flex;
	justify-content:center;
	align-items:center;
}
.header .login a{
	text-decoration:none;
}
.login .sign{
	color:white;
}
.login .button{
	color:white;
	margin:0 25px;
	background:#069CF8;
	padding:15px 25px;
	border-radius:5px;
	gap:7px;
	align-items:center;
	display:flex;
}
#center{
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.middle {
	
	margin: 50px 100px;
	height: 80vh;
	width: 50vh;

	
}
.middle a{
	text-decoration: none;
}
.online{
	color:#069CF8 ;
	font-weight: 900;
}
.middle .link{
	
	height: 10vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	
}
.middle .slogan{
	
	height: 40vh;
	text-align:initial;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	font-size: 30px;
	
	
}
.middle .text{
	
	height: 10vh;
	
	
}
.middle .text .para{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 15px;
	text-align: center;
}
.middle .external{
	
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
#join {
	color:white;
	margin:0 10px;
	background:#069CF8;
	padding:10px 25px;
	border-radius:5px;
	
	align-items:center;
	display:flex;
}
#learn {
	color:black;
	
	background:#4c4c91;
	padding:10px 15px;
	border-radius:5px;
	
	align-items:center;
	display:flex;
	font-weight: 700;
}
.last{
	
	display: flex; 
	justify-content: space-around;
	margin: 10px 150px;
	gap:25px;
}

.red{
	background-color: rgba(255, 255, 255, 0.952);
	flex: 1;  
    align-items: center;
    padding: 25px;
}

.red h4{
	margin: 15px 0;
}

.red iconify-icon{
	font-size: 2rem;
}

.red hr{
	width:45px;
	height:2px;
	background: orangered;
	border:0;
	margin-bottom: 23px;
}


